:root{
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border:0.1rem solid rgba(255,255,255,0.3);

  --header-height: 7rem;
  font-size: 10px;
}


body {
  background-color: rgb(0, 0, 0);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Roboto", sans-serif;
}


section{
padding: 3rem 2rem;
margin: 0 auto;
max-width: 1200px;
}

.header{
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 99;
  border-bottom: rgb(255, 255, 255);
  height: 12rem;
}

.header section{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 1.5rem;
padding-bottom: 1.5rem;

}

.logo img {
  height: 100px;
  width: auto;
}




.navbar a{
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #ffffff;
  background: none;
  cursor: pointer;
}

.navbar a:hover{
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.icons img{
  margin: 1rem;
  cursor: pointer;
}

.icons img:hover{
  width: 40px;
  height: 40px;
}

.btn{
  background: var(--main-color);
  color: #ffffff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 10px;
}

.btn:hover{
  letter-spacing: 0.1rem;
}


header {
  background-color: rgb(0, 0, 0);
}

.home-container{
  background: url("./imgs/home.jpg") center center/cover no-repeat;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.home-container section{
align-items: center;
margin-left: 0.5px;
display: flex;
min-height: 55vh;
display: flex;

}

.content {
  max-width: 100rem;
}

.content h3{
  color: #ffffff;
  font-size: 6rem;;
}

.content p{
  color: #ffffff;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.8;
  padding: 1rem 0;
}


.span {
  color: var(--main-color);
}

.produtos {
  margin-top: 10PX;
}

.produtos h2 {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  align-items: center;
  justify-content: center;

}

.imgs{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: auto;
  height: 80vh;
  margin-top: 70px;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.btn-grad {
  background-image: linear-gradient(to right, #d3ad7f 0%, #ff2c2c 51%, #d3ad7f 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

.fundoblack {
  background-color: rgb(0, 0, 0);
  background-size: cover;
  width: 100%;
}

.cake {
  color: rgb(255, 255, 255);

}

.cake h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
  font-size: 5rem;
  gap: 20px;
}

.red {
color: rgb(138, 0, 0);
}

.main p {
  color: rgb(255, 255, 255);
  justify-items: left;
  justify-content: left;
  font-size: 25px;
  margin-right: 25px;
  gap: 3px;
  font-family: sans-serif;
  margin-top: 5px;
}

.main img {
  width: auto;
  height: 500px;
  margin-left: auto;
  margin-top: 10rem;

}

.fundo img {
max-width: content;
}

.local {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-top: 40px;
}

.address {
  background-color: rgb(0, 0, 0);
  background-size: cover;
  width: 100%;
}

.address iframe {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}


.address {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.endereço {
  border-radius: 1rem;
}


.footer {
  text-align: center;
}

.footer .share {
  padding: 1rem ;

}

.footer .share img {
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 2rem;
}

.footer .share img:hover {
  background-color: rgb(158, 153, 153);
}